<div class="container">
  <h1><%= [session[:duration], session[:kind], session[:theme]] %></h1>
  
  <div class="row">
    <div class="col-xs-4">
      <div class="card">
        <div class="card-image">
        <iframe width="100%" height="240" src="https://www.youtube.com/embed/HEgT8Ld643Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="card-content text-center">
          <div class="nav-cap">
            Youtube.com
          </div>
          <h3 class="card-title">
            The Great Migration and the power of a decision. 
          </h3>

          <div class="card-description body-small">
            Join journalist and author Isabel Wilkerson as she tells the story of the Great Migration, the outpouring of six million African.
          </div>
        </div>  
      </div>  
    </div>
  </div>

</div>