// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

@font-face {
  font-family: "Brown";
  src: font-url('Brown-Bold.otf') format("truetype");
}

@font-face {
  font-family: "Arnhem";
  src: font-url('Arnhem-Blond.otf') format("truetype");
}

// Define fonts for body and headers
$body-font: "Brown", "Helvetica", "sans-serif";
$headers-font: "Brown", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  color: rgba(255,255,255,0.75) !important;
  font-family: Brown-Bold;
  font-size:25px !important;
  text-shadow: 0 1px 1px rgba(4,11,173,0.50);
}

h3 {
  font-size: 2rem !important;
  line-height:1.5 !important;
}

.nav-cap {
  font-weight:bold;
  font-size: 1rem;
  text-transform:uppercase;
  letter-spacing:2px;
}

.body-small {
  font-size: 1.5rem;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

.search-title {
  font-family: "Brown";
  opacity: 0.87;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  text-shadow: 0 1px 1px rgba(4,11,173,0.50);
}

.onboarding {
  font-family: "Arnhem";
  color: rgba(255,255,255,0.75) !important;
  font-size: 1.5rem;
  line-height: 1.7;
  letter-spacing: 0.5px;
}