// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h3 {
  font-size: 2rem !important;
  line-height:1.5 !important;
}

.nav-cap {
  font-weight:bold;
  font-size: 1rem;
  text-transform:uppercase;
  letter-spacing:2px;
}

.body-small {
  font-size: 1.5rem;
  line-height: 1.7;
  letter-spacing: 0.5px;
}