<div class="background">
  <div class="container">
    <div class="form-group text-center">
      <div class="row text-center">
        <div class="search-head">
          <div class="flex-large search-title">Pick a time</div>
          <div class="underline underline-title"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="category-choices">
        <div class="col-xs-12">
          <% @durations.each do |duration| %>
            <div class="col-xs-12">
              <%= link_to contents_search_duration_path(duration: duration), method: :post do %>
              <div class="category-choice">
                <div class="icon">
                  <%= image_tag "contents/duration-pictos/duration-#{duration}.svg", class: "category-icon" %>
                </div>
                <div class="step-choice">
                  <%= duration_naming(duration) %>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
