<div class="background">


<!-- Flickity HTML init -->
  <div class="carousel"
    data-flickity='{ "wrapAround": true }'>
    
      <div class="carousel-cell green">
        <h1>Métro, boulot, Kulturo !</h1>
        <div class="underline"></div>
        <p class="onboarding">.</p>
      </div>

      <div class="carousel-cell green">
        <h1>Durée</h1>
        <div class="underline"></div>
        <p class="onboarding">Le temps d'un expresso ou durant la pause déjeuner, libre à vous de définir la durée.</p>
      </div>

      <div class="carousel-cell green">
        <h1>Préférences</h1>
        <div class="underline"></div>
        <p class="onboarding">Indiquez vos gouts et préférences et on s'occupe du reste.</p>
      </div>
    </div>


    <!-- redirect to content settings -->
     <div>
     <%= link_to "Découvrir", contents_search_duration_path, class: 'btn btn-primary btn-cta col-xs-12' %>
     </div>

</div>
