<div class="background">
  <div class="carousel" data-flickity>

    <div class="carousel-cell">
      <div class="text-center carousel-bloc">
        <!-- ampoule picto -->
        <div class="container-bulb">

          

<svg width="118px" height="157px" viewBox="0 0 118 157" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg-home">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" transform="translate(-255.000000, -36.000000)">
            <g id="bulb" transform="translate(256.000000, 37.000000)">
                <path d="M52.562614,38.2477172 C62.9104877,37.0747641 72.9134323,40.0909293 80.6743376,46.7935186 C88.2627783,53.3285432 92.7468569,62.879733 92.7468569,72.7660522 C92.7468569,82.8199362 87.7453846,89.6900903 81.8815895,97.7331975 C79.9844793,100.414233 77.9149046,103.095269 76.0177944,106.111434 C75.5004007,107.116822 75.1554716,108.289776 74.8105425,109.462729 L38.9379136,109.462729 C38.7654491,108.122211 38.4205199,106.949258 37.7306617,106.111434 C35.8335515,103.095269 33.7639768,100.414233 31.8668666,97.7331975 C26.0030715,89.857655 21.0015992,82.9875009 21.0015992,73.1011817 C20.8291347,55.6744495 34.6262996,40.4260588 52.562614,38.2477172 Z" id="bulb-body-fill" fill="#FFFFFF"></path>
                <path d="M30.3161245,99.3540965 C32.2428236,101.907952 34.1672532,104.628187 36.0897202,107.514862 L36.1831503,107.655152 L36.2602778,107.805024 C36.7732926,108.801904 37.0723509,109.94485 37.2421817,112.042541 L77.1987845,112.042541 C77.3696321,109.940507 77.6685279,108.80001 78.1805679,107.805024 L78.2817642,107.624042 C79.3576416,105.847013 80.5648188,104.105463 82.1976914,101.912386 C82.4944595,101.513803 82.800725,101.10609 83.1847976,100.597486 C83.3252769,100.411458 83.9709241,99.5578552 84.1053368,99.3810018 C84.0996149,99.3889438 84.9157687,98.2568114 85.1462201,97.9365483 C85.5384947,97.3913962 85.8617443,96.9402258 86.1689414,96.5085274 C92.8327029,87.1440665 95.4394531,81.2746763 95.4394531,73.1513573 C95.4394531,62.6202586 90.8097654,52.5509935 82.6897278,45.4348803 C74.4523638,38.3731139 63.5308653,35.0156602 52.559646,36.2515425 C33.5651937,38.4226964 18.8419546,54.7170679 19.0010684,73.2748165 C19.1182769,81.246312 21.6519455,87.1078855 27.8035845,95.8441389 C28.4619588,96.7791295 28.7010948,97.1124489 30.3161245,99.3540965 Z" id="bulb-body" stroke="#FFFFFF" stroke-width="6" fill-rule="nonzero"></path>
                <g id="Group" stroke="#FFFFFF" fill-rule="nonzero" stroke-width="3" fill="#000000" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M0.7,31.8 L11.2,42.4" id="one"></path>
                    <path d="M12.6,11.6 L24.1,27.7" id="two"></path>
                    <path d="M37,8.2 L40.5,21.8" id="three"></path>
                    <path d="M57.4,0.5 L58.3,19.9" id="four"></path>
                    <path d="M77.9,9.2 L73.8,22.9" id="five"></path>
                    <path d="M104.2,14.4 L90.5,29" id="six"></path>
                    <path d="M114.7,35 L102.2,43.8" id="seven"></path>
                </g>
                <path d="M70.6972197,152.681036 C70.6972197,151.172953 69.4899678,150 67.9377867,150 L47.759433,150 C46.2072519,150 45,151.172953 45,152.681036 C45,154.189118 46.2072519,155.362071 47.759433,155.362071 L68.1102513,155.362071 C69.4899678,155.362071 70.6972197,154.189118 70.6972197,152.681036 Z" id="bottom-screw" fill="#FFFFFF" fill-rule="nonzero"></path>
                <path d="M36.759433,142.362071 L77.4610696,142.362071 C79.0132506,142.362071 80.2205025,141.189118 80.2205025,139.681036 C80.2205025,138.172953 79.0132506,137 77.4610696,137 L36.759433,137 C35.2072519,137 34,138.172953 34,139.681036 C34.1724646,141.189118 35.3797165,142.362071 36.759433,142.362071 Z" id="middle-screw" fill="#FFFFFF" fill-rule="nonzero"></path>
                <path d="M36.759433,129.362071 L77.4610696,129.362071 C79.0132506,129.362071 80.2205025,128.189118 80.2205025,126.681036 C80.2205025,125.172953 79.0132506,124 77.4610696,124 L36.759433,124 C35.2072519,124 34,125.172953 34,126.681036 C34.1724646,128.189118 35.3797165,129.362071 36.759433,129.362071 Z" id="top-screw" fill="#FFFFFF" fill-rule="nonzero"></path>
            </g>
        </g>
    </g>
</svg>
        </div>

        <h1 style="color:#FFF" id="home-title">Content that fit your life</h1>
        <div class="underline" id="home-underline"></div>
        <p class="onboarding text-onboarding">
          Kulturo is your daily helper to find time-based contents. 
        </p>
      </div>
    </div>

    <div class="carousel-cell">
       <div class="text-center carousel-bloc">
        <!-- chrono picto -->
        <div class="chrono-home">
          <%= image_tag "chronometer.svg" %>
        </div>
        <h1 style="color:#FFF">Une durée</h1>
        <div class="underline"></div>
        <p class="onboarding text-onboarding">
          Indiquez-nous simplement la durée dont vous disposez.
        </p>
      </div>
    </div>

    <div class="carousel-cell">
       <div class="text-center carousel-bloc">
        <!-- media picto -->
        <div class="media-home">
          <%= image_tag "media.svg" %>
        </div>
        <h1 style="color:#FFF">Un contenu & Un thème</h1>
        <div class="underline"></div>
        <p class="onboarding text-onboarding">
          Choisissez le thème qui vous intéresse dans le format que vous préférez. <br>
          Kulturo-vous ! 😉
        </p>
      </div>
    </div>


  </div>
  <div class="row-fixed">
  <div class="row ">
    <div class="col-xs-6 col-xs-offset-3">
      <%= link_to "Start", contents_search_duration_path, class: 'btn btn-cta btn-block' %>
    </div>
  </div>
  </div>
</div>
