body {
  background-color: rgba(156, 210, 210, .8);
}

.container-bulb svg {
  width: 80%;
}

.container-bulb {
  width: 200px;
  margin: 3em auto;
}

.st0 {
  fill: #FFFFFF;
}

.st1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 4;
  stroke-miterlimit: 10;
}

.st2 {
  fill: none;
  opacity: .5;
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

#one {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 4s .2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  animation: line-glow 4s .2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

#two {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 4s .4s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;;
  animation: line-glow 4s .4s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

#three {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 4s .6s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  animation: line-glow 4s .6s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

#four {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 4s .8s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  animation: line-glow 4s .8s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

#five {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 4s 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  animation: line-glow 4s 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

#six {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 4s 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  animation: line-glow 4s 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

#seven {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: line-glow 4s 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;;
  animation: line-glow 4s 1.4s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

#bulb-body-fill {
  -webkit-animation: bulb-on 3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  animation: bulb-on 3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  animation-direction: alternate;
}

@-webkit-keyframes line-glow {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes line-glow {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
  }
}

@-webkit-keyframes bulb-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bulb-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
