@keyframes scaleDots { 
  from { 
    transform: scale(2);
    opacity: 0; 
    } 
    to 
    { 
      transform: scale(1);
      opacity: 1;  
      }
    }


.carousel {
  background: transparent;
}

.carousel-cell {
  width: 100%;
  height: 100vh;

}

.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-cell-contents {
  width: 100vw;
  height: 100vh;
}

.flickity-button {
  display:none;
}

.flickity-page-dots {
  opacity: 0;
  bottom: 140px !important;
  animation: scaleDots cubic-bezier(0.4, 0.0, 0.2, 1);
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
  animation-duration: 0.350s;
}


