.card {
  background: rgba(255,255,255,0.1);
  box-shadow: 0 12px 14px 0 rgba(0,0,0,0.20);
  border-radius: 6px;
}

.card-image {
  width:100%;
}

.card-content {
  padding-left:24px;
  padding-right:24px;
}

.card-title {
  padding-top:16px;
  padding-bottom:16px;
}

.card-description {
  padding-bottom: 32px;
}
