.nav-icon {
  color:#040BAD;
  opacity: 0.18;
}

.pictos {
  fill: white;
}

.pictos.active { color: red; } /* liens actifs */

// .some-class {
//   display: block;
//   margin: 0 auto;
//   fill: #3498db;
//   width: 5em;
//   height: 5em;
// }
